<footer class="main-content">
    <p style="max-width:100%">this website was last edited on <span id="commit-date"></span> in Astoria, NY, where the weather is <span id="weather"></span>.</p>
</footer>
