<header>
    <nav id="navbar">
            <div class="logo">
                <a href="/">website</a>
            </div>
            <div id="hamburger-menu-icon">
            </div>
    </nav>
    <div id="hamburger-menu">
        <ul>
  <li>Design</li>
  <li>Code</li>
  <a href="/index"><li>Everything</li></a>
</ul>
    </div>
</header>
<script>
    const target = document.getElementById('hamburger-menu');
    const button = document.getElementById('hamburger-menu-icon');

    button.addEventListener('click', () => {
        target.classList.toggle('toggled');
    });
</script>
