svg * {
  pointer-events: all; /* or leave alone */
}
:root {
  --font-body: 'Oracle', sans-serif;
  --font-heading: 'Oracle', sans-serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-loose: 1.8;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --black: #0D0D0D;
  --white: #F9F9FF;
  --max-width: 1920px;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: var(--black)
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  list-style-type: none;
}

/*custom css */

hr {
  border: none;
  border-bottom: 1px solid var(--black);
  max-width: var(--max-width); 
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
html, body {
  height: auto;      /* IMPORTANT */
  min-height: 100%;  /* OK */
  background-color: var(--white);
}

html {
  letter-spacing: -0.02em;
}

h4 {
  font-family: "Oracle","Replica Std";
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 110%;
  color: var(--black);
  opacity: 0.7;
  margin-top: 8px;
}

h4 a {
  text-decoration: underline;
  color: inherit;
}
/*fonts*/



@font-face {
  font-family: "Oracle";
  src: url("fonts/ABCOracle-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oracle";
  src: url("fonts/ABCOracle-Medium-Trial.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}


h2 {
    font-family: "Oracle","Replica Std";
    font-weight: 400;
  font-size: 2.5rem;
  line-height: 115%;
}

h3 {
    font-family: "Oracle","Replica Std";
    font-weight: 400;
  font-size: 1.66rem;
  line-height: 100%;
  margin-top: 4px
}



.tag {
  font-family: "Oracle","Replica Std";
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 90%;
  display: inline-block;
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

.tag:hover {
  background-color: grey;
  color: var(--white);
  border-color: var(--black);
}


/* homepage */

section {
  width: 100%;
}
.grid {
  width: 100%;
  max-width: 1800px;
  display: grid;
  row-gap: 33px;
  column-gap: 3rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
  }

}

@media (min-width: 768px) and (max-width: 1080px) {
  .grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}


@media (min-width: 1080px) and (max-width: 1800px) {
  .grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}



.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.card--small {
  grid-column: span 3;
}
.card--medium {
  grid-column: span 4;
}
.card--large {
  grid-column: span 8;
}

@media (max-width: 768px) {
  .card--large {
  grid-column: span 4;
}
}
.card__image {
    position: relative;
  width: 100%;
  max-height: 800px;
  aspect-ratio: var(--ratio);
  background: #e6e6e6;
  border-radius: 12px;
  overflow: hidden; /* ← important */
}

.card__image img {
  width: 100%;
  height: 100%;
  position: relative;
    object-fit: cover;
  display: block;
    transition: opacity 0.25s ease;
    z-index: 1;
}

.card__overlay {
  border-radius:12px;
  position: absolute;
  inset: 0;
  background: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 2;
  border: 1px solid var(--black);
}



.card__image:hover .card__overlay {
  opacity: 1;
}
@media (max-width: 768px) {
  .card__image:hover .card__overlay {
    opacity: 0;
  }
}


.main-content {
  padding: 2em;
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 30px;
  margin: 0 auto;
  max-width: 1920px;
  z-index: 1;
}
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}

#navigation {
    display: flex;
    flex-direction: column;
    gap: 1em;
      width: 300px;
  height: 100vh;
  position: sticky;
  top: 2rem;
}
@media (max-width: 768px) {
  #navigation {
    display: none;
  }
}
#navigation li {
  color: var(--black);
  font-family: "Oracle","Replica Std";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* header */

header {
  position: static;
  top: 0;
  background-color: var(--white);
  padding: 0em 2em;
   margin: 0 auto;
  max-width: 1920px;
}

    #navbar {
      height: 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1920px;
      border-bottom: 1px solid var(--black);
      
    }

    @media (max-width: 768px) {
      #navbar {
        height: 56px;
      }
      header {
         position: sticky;
         width: 100%;
        top: 0;
        z-index: 3;
      }
      #hamburger-menu.active {
        background-color: var(--white);
      }
    }

    .logo a {
          font-family: "Oracle","Replica Std";
        color: var(--black);
        font-size: 1.5rem;
        font-weight: normal;
        text-decoration: none;
    }

#hamburger-menu-icon {
  background-color: blue;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 10px;
}

#hamburger-menu {
  left: 0;
  width: 100%;
  padding: 2em 0em;
z-index: 3;
  display: none;
  border-bottom: 1px solid var(--black);
}

#hamburger-menu.toggled {
  display:block;
}

#hamburger-menu li {
  color: var(--black);
  font-family: "Oracle", "Replica Std";
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


    /* projects page */


.project-hero .card__tags{
flex: 1;
display: flex;
  justify-content: flex-end; 
  gap:8px;
}

.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-page__hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content:left;
  align-items: flex-start;
  gap: 1rem;
  max-width: 800px;
}

.project-page p {
  font-size: 1.25rem;
  line-height: 150%;
  max-width: 800px;
}  

.block {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 768px) {
  .block {
    flex-direction: column;
  }
}



.block img {
  flex: 1 1 0;
  width: 100%;
  min-width: 0;
  height: auto;
  display: block;
}

.image--small {
  max-width: 800px;
}

.image--medium {
  max-width: 1200px;
}

.image--large {
  max-width: 1600px;
}

/* responsive gallery */

.block--gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
 
}

/* Create four equal columns that sits next to each other */
.gallery__column {
  flex: 1;
  padding: 0 4px;
}

.gallery__column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery__item {
  padding-bottom: 1rem;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery__column {
    flex: 100%;
    max-width: 100%;
  }
}

.block--custom {
  max-width: 100%;
}

/* one offs */
#poster-tile {
  height: 75vh;
  display: inline-flex;
overflow: hidden;
gap: 0;


}

#poster-tile img {
display: block;
height:75vh;
width: auto;
max-width: none;
object-fit: contain;
}


/* landing */
#landing {
  width: 100%;
  z-index: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white);
}


.tooltip {
  position: fixed;
  pointer-events: none; /* allow mouse through */
  background-color: #FFF5E5;
  color: #878787;
  font-size: 0.9rem;
  padding: 10px;
  line-height: 1.2;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 1000;
  visibility: hidden;
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
}


.tooltip div {
  line-height: 1.2;
}


circle {
  cursor: pointer;
}

rect.married {
  stroke: #ccc;
  stroke-width: 1px;
}

path {
  stroke: none;
}

.hitbox {
  pointer-events: all;   /* Make sure the rectangle captures mouse events */
  z-index: 10;
}


/* index*/
#index {
  flex-direction: column;
  gap: 2rem;
}

#tags-container {
  display: flex;
align-items: flex-start;
align-content: flex-start;
gap: 1rem;
flex-wrap: wrap;

padding-bottom: 2rem;
}

#tags-container .tag {
  font-family: "Oracle","Replica Std";
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 90%;
  display: inline-block;
  border: 1px solid var(--black);
  border-radius: 20px;
  padding: 0.5rem 1rem;

}

.active {
  background-color: var(--black);
  color: #fff;
}

.project-index .card {
  flex-direction: row;
  width: 100%;
  display: inline-flex;
align-items: center;
gap: 2rem;
padding: 1.5rem 0rem;
border-bottom: 1px solid var(--black);
}

.project-index .card__image{
border-radius: 0px;
width: 175px;
height: auto;
}

@media (max-width: 768px) {
  .project-index .card {
    gap: 1rem;
    padding: 1rem 0rem;
  }

  .project-index .card__image{
    width: 100px;
  }
.project-index h2 {
  font-size: 1rem;
}

.project-index .card__tags{
display: none
}
  
}

